<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Chrome.WebDriver" version="81.0.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="81.0.4044.6900" targetFramework="net48" />
  <package id="VisualBasic.PowerPacks.Vs" version="1.0.0" targetFramework="net46" />
</packages>